@charset "utf-8";

#start{width: 100%;height: 1000px;position: relative;}
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #030d18;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;

   

  }
.navfix{width: 100%;height: 60px;position: fixed;z-index: 100; }
.navfix2{width: 100%;height: 30px;position: fixed;z-index: 100; }
.navfix nav{position: relative; display: flex; align-items: center; margin: 0 auto;justify-content: space-between;transition: 0.5s;}
.navfix2 nav{position: relative; display: flex;  margin: 0 auto;justify-content: space-between;transition: 0.5s;}
.logo{margin-left:30px;font-size: 35px; }
.logo>a{color:#fff;}
.navfix nav>ul{display: flex; width: 600px; justify-content: space-evenly;}
.navfix nav>ul>li{ font-size: 20px; text-transform: uppercase;position: relative;}
.navfix nav>ul>li>a{color:#fff;}


.navfix2{display: none;}

nav.active{background: rgba(0, 0, 0, 0.315);}
.menu_btn{ display: inline-block;position: relative;padding:15px 20px;}
.menu_btn::before{content:'';position: absolute;bottom:0%;left:0px;width: 100%; height: 3px; background: #6098ff;display: block;transform-origin: right top; transform: scale(0,1);transition: transform 0.4s cubic-bezier(1,0,0,1);}
.menu_btn:hover::before{transform:scale(1,1);transform-origin: left top;}


  .st_title{position: absolute; width: 550px;height: 550px; transform: translate(-50%, -50%);left: 50%; top:50%;padding:20px;overflow: hidden;box-shadow: 0px 0px 25px rgb(255, 0, 0);  border: 2px solid #c9271b;}
  .st_title_text{position: absolute; top: 15px; bottom:15px;left: 15px;right: 15px; border:3px solid rgb(240, 240, 128); text-align: center;padding: 70px 20px; box-shadow: 0 5px 10px rgba(9,0,0,0.5);}
  .st_title_text>p{font-size: 50px; font-weight: bold;letter-spacing: 15px;padding-top: 70px;}
  .st_title_text>h1{font-size: 35px; letter-spacing: 5px;padding:50px 0 0 0; text-transform: uppercase;}
  .st_title span{position: absolute;top:0; left:0; width: 100%;height: 100%;display: block;box-sizing: border-box;}
  .st_title span:nth-child(1){transform:rotate(0deg);}
  .st_title span:nth-child(2){transform:rotate(90deg);}
  .st_title span:nth-child(3){transform:rotate(180deg);}
  .st_title span:nth-child(4){transform:rotate(270deg);}
  .st_title span:before{content:''; position: absolute;width: 100%;height: 2px; background:  rgb(240, 240, 128);animation: animate 5s linear infinite;}
  @keyframes animate{0%{transform:scaleX(0); transform-origin: left;} 50%{transform:scaleX(1);transform-origin: left;} 50.1%{transform:scaleX(1);transform-origin: right;} 100%{transform:scaleX(0); transform-origin: right;}}


  #introduce{width: 100%;height: 1000px;   background: linear-gradient( to bottom, #030d18 , #0b2e53  );padding-top: 200px;}
  .me{width: 1100px; height: 100%; margin: 0 auto;}
  .me>h1{text-align: center; text-transform: uppercase;font-size:50px ; padding-top: 50px;}
  .photo{width: 300px;height: 300px;border-radius: 10px; margin-top: 10px;}
  .photo>img{width: 300px;border-radius: 30px;}
  .me_contents{display: flex; justify-content: space-evenly; align-items: flex-start;width: 100%;height: 500px; margin-top: 100px;}
  .me_text>ul{line-height: 35px;width: 550px;letter-spacing:1px;}
 .me_text_2>li>span{font-size:25px; display: block; border-bottom: 1px solid #ddd;font-weight: bold;}
 .me_text_2>li{margin-top: 20px; }

 #skills{width: 100%;height: 1000px;background: linear-gradient( to bottom, #0b2e53, #1a599c );padding-top: 200px;}
 .skills_contents{width: 1100px;height: 100%;margin: auto;}
 .skills_contents>h1{text-align: center;text-transform: uppercase;font-size: 50px; padding-top: 50px;}
 .skills_img{display: flex; justify-content: space-evenly;}
 .skills_img>img{width: 130px;margin-top: 35px;}
 .skills_text>ul>li{line-height: 35px; font-size: 18px; margin: 10px 0 0 150px; list-style-type:circle;}
 .skills_text>ul>li:nth-of-type(1){margin-top: 50px;}


  #portfolio{width: 100%;height: 3400px;background: linear-gradient( to bottom, #1a599c, #05101d );}
  .portfolio_contents{width: 1100px; height: 100%; margin:0 auto;}
  .portfolio_contents>h1{text-align: center;text-transform: uppercase;font-size: 50px; padding-top: 200px;}
  .port>img{width: 700px;}
  .port{display: flex; margin-top: 250px; justify-content: space-evenly; align-items: center;}
  .port:nth-of-type(1){margin-top: 100px;}
  .portfolio1_text{width: 400px;position: relative;}
  .portfolio1_text>h2{text-align: center;}
  .portfolio1_text>p{font-size: 15px; line-height: 20px;text-align: center;}
  .portfolio1_text>p:nth-of-type(1){padding-top: 20px;}
 .btn:nth-of-type(3){margin-left: -1px;}
 .btn:nth-of-type(4){margin-left: -2px;}
 .btn_wrap{display: flex; justify-content: space-around; width: 400px;}
  .btn{color:#fff; display: inline-block; top:40px; border: 1px solid #fff; padding:5px 65px; border-radius: 10px; font-size: 20px; position: relative; overflow: hidden;transition: all .3s ease-in-out;background: transparent; z-index:10; text-align: center; margin-bottom: 10px;}
  .btn:hover{border:1px solid #071982; color:#fff56c;}
  .btn::before{content: " "; width: 0%;height: 100%;display: block;background: #c9271b;position: absolute; transform:skewX(-20deg);left:-10%;opacity: 1; top:0; z-index: -12;transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);box-shadow: 2px 0px 14px rgba(0,0,0,.6);}
  .btn::after{content: " ";width: 0%;height: 100%;display: block; background: #fff56c;position: absolute;transform: skewX(-20deg);left:-10%;opacity: 0;top:0;z-index: -15;transition: all .4s cubic-bezier(.2,.95,.57,.99);box-shadow: 2px 0px 14px black;}
  .btn:hover::before{ opacity: 1; width: 120%;}
  .btn:hover::after{opacity: 1;width: 120%;}

  footer{width: 100%;height: 300px;background: linear-gradient( to bottom, #05101d, #030d18 );}
  .footer_text{width: 1100px;height: 100%;margin: 0 auto;text-align: center;padding-top: 150px;line-height: 30px;letter-spacing: 2px;}


