
#start{width: 100%;height: 800px;}
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #030d18;;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;

  }