@charset "utf-8";

#start{width: 100%;height: 1000px;position: relative;}
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #030d18;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;

   

  }
nav{width: 100%;height: 60px;position: fixed;z-index: 100; display: flex; align-items: center; margin: 0 auto;justify-content: space-between;transition: 0.5s;}
.logo{margin-left:30px;font-size: 35px;}
nav>ul{display: flex; width: 600px; justify-content: space-evenly;}
nav>ul>li{ font-size: 20px; text-transform: uppercase;}
nav.active{background: rgba(0, 0, 0, 0.315);}

  .st_title{position: absolute; width: 100%;height: 300px;}
  .st_title_text{position: absolute; left: 50%; transform: translateX(-50%)translateY(80%);top: 0; bottom:0; border:3px solid rgb(240, 240, 128); text-align: center;width: 600px; height: 400px;}
  .st_title_text>p{font-size: 50px; font-weight: bold;letter-spacing: 15px;padding-top: 70px;}
  .st_title_text>h1{font-size: 35px; letter-spacing: 5px;padding:50px 0 0 0; text-transform: uppercase;}

  #introduce{width: 100%;height: 700px;   background: linear-gradient( to bottom, #030d18, #0f3e70 );}
  .me{width: 1100px; height: 100%; margin: 0 auto;}
  .me>h1{text-align: center; text-transform: uppercase;font-size:50px ; padding-top: 50px;}
  .photo{width: 300px;height: 300px;background-color: slateblue;border-radius: 10px; margin-top: 10px;}
  .me_contents{display: flex; justify-content: space-evenly; align-items: flex-start;width: 100%;height: 500px; margin-top: 100px;}
  .me_text>ul{line-height: 35px;width: 550px;letter-spacing:1px;}
 .me_text_2>li>span{font-size:25px; display: block; border-bottom: 1px solid #ddd;font-weight: bold;}
 .me_text_2>li{margin-top: 20px; }

 #skills{width: 100%;height: 600px;background: linear-gradient( to bottom, #0f3e70, #1a599c );}
 .skills_contents{width: 1100px;height: 100%;margin: auto;}
 .skills_contents>h1{text-align: center;text-transform: uppercase;font-size: 50px; padding-top: 50px;}
 .skills_img{display: flex; justify-content: space-evenly;}
 .skills_img>img{width: 130px;margin-top: 35px;}
 .skills_text>ul>li{line-height: 35px; font-size: 18px; margin: 35px 0 0 150px; list-style-type:circle;}
 


  #portfolio{width: 100%;height: 2000px;background-color: seagreen;}
  .portfolio_contents{width: 1100px; height: 100%; background-color: sandybrown;margin:0 auto;}
  .portfolio_contents>h1{text-align: center;text-transform: uppercase;font-size: 50px; padding-top: 50px;}
  .port>img{width: 600px;}
  .port{display: flex; margin-top: 50px; justify-content: space-evenly;}
  .portfolio1_text{width: 400px;}
  .portfolio1_text>p{font-size: 20px; line-height: 30px;}
  .portfolio1_text>button{ background-color: rgb(3, 4, 59); border: none; margin-top: 30px; padding: 10px 0px; border-radius: 10px;}
  .portfolio1_text>button>a{padding:0px 50px; font-size: 20px; }

